* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.crousel-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.crsl-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hamburger {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 10;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.sidebar {
  position: fixed;
  z-index: 9;
  width: 20%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  left: -500px;
  transition: left 0.5s ease-in-out;
}

.sidebar.open {
  left: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-list {
  list-style: none;
  color: #fff;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 700;
  margin-top: 200px;
}

.nav-item {
  cursor: pointer;
  padding: 5px;
  margin-top: 20px;
}

/* .sub-category-btn, .category-btn{
  background: none;
  border: none;
  color: #fff;
} */

/* .hum-logo {
  width: 100%;
  display: flex;
  align-items: center;
} */

.logo {
  position: fixed;
  left: 5%;
  top: 15px;
  width: 150px;
  z-index: 11;
}

.btn-secondary {
  background: none !important;
  border: none !important;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

.hum-logo {
  width: 40%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.login-cart {
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  color: #fff;
  padding: 25px;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: fixed;
    left: -1200px;
  }

  .logo {
    width: 130px;
    margin-left: 30px;
  }

  .login-cart {
    align-items: end;
    flex-direction: column;
    margin-top: 21px;
    margin-right: 20px;
    padding: 0;
  }
}

/* Ipad */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sidebar {
    width: 50%;
    position: fixed;
    left: -1000px;
  }
}
